* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
}

header {
    background-color: black;
    color: #fff;
    padding: 16px 0;
}

.imgeh1{
    display: flex;
}

header img {
    width: 40px;
    position: relative;
    right: 16px;

}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 20;
}

header nav li a {
    color: #fff;
    text-decoration: none;
}

.container, #noticias {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container , section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding: 50px 0px;  
}

section img {
    height: 500px;
}

#history {
    background-color: rgba(128, 128, 128, 0.062);
}

#history li img {
    height: 90px;
}

#history li {
    display: inline;    
}

section h2 {
    font-size: 35px;
    margin-bottom: 16px;
}

section p {
    margin-bottom: 16px;
}

section img {
    margin-right: 28px;
}

section .container {
    align-items: flex-start;
}

#camisa-negras img {
    margin-left: 28px;
}

.phrase {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

#elenco {
    background-color: rgba(128, 128, 128, 0.062);
}

#elenco li {
    font-size: 20px;
    margin-bottom: 6px;
    list-style-type: none;
}

#elenco h2 {
    text-align: center;
    margin-bottom: 30px;
}

#noticias h2 {
    margin-bottom: 32px;
}

.articles article img {
    width: 100% ;
    height: 50%;
}

.articles {
    background-color: rgba(128, 128, 128, 0.062);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article {
    width: 30%;
}

.articles article h3 {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 24px;
}

footer p{
    color: #fff;
    font-size: 16px;
}

footer {
    background-color: black;
    padding: 32px;
}